{% comment %} <!--Navigation-->
<nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
    <div class="container px-5">
        <a href="{% url 'myapp:index' %}" class="navbar-brand">ログイン</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponseve" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>

    </div>
</nav> {% endcomment %}

{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'myapp/css/base.css' %}" />
    {% block extra_style %}{% endblock %}
    <title>DeMiAインターン</title>
</head>
<body>
    {% block header %}
    <header class="header">
        <div class="header-container">
            <span class="header-back">
                {% block header-back %}{% endblock %}
            </span>
            <span class="header-container__title">
                {% block header-title %}{% endblock %}
            </span>
            <span class="header-update">
                {% block header-update %}{% endblock %}
            </span>
        </div>
    </header>
    {% endblock %}

    {% block content %}
    {% endblock %}

    {% block footer %}
    <footer class="footer">
        <div class="footer-container">
            {% block footer_item %}
            <div class="footer-container__item">
                <a href="{% url 'myapp:friends' %}" class="footer-item__link">
                    <span class="footer-item__icon"><img src="{% static 'myapp/img/people-24px.svg' %}"></span>
                    <span class="footer-item__text">友達</span>
                </a>
            </div>
            <div class="footer-container__item">
                <a href="{% url 'myapp:setting' %}" class="footer-item__link">
                    <span class="footer-item__icon"><img src="{% static 'myapp/img/settings-black-18dp.svg' %}"></span>
                    <span class="footer-item__text">設定</span>
                </a>
            </div>
            {% endblock %}
        </div>
    </footer>
    {% endblock %}
</body>
</html>
